In [1]:
import pandas as pd  # Importing pandas for working with dataframes and CSVs

# Load the scraped fantasy stats CSV (this file should already exist from previous scraping)
df = pd.read_csv('nfl_fantasy_stats_2000.csv')

# Load the draft data CSV (from 2023 data)
draft_df = pd.read_csv('draft_data_2023.csv')

In [2]:
df

               Player  FantPt    PPR  OvrRank
0      Marshall Faulk   379.0  459.9      1.0
1      Edgerrin James   332.0  395.3      2.0
2         Jeff Garcia   341.0  340.5      3.0
3    Daunte Culpepper   338.0  338.5      4.0
4        Eddie George   284.0  334.2      5.0
..                ...     ...    ...      ...
545   Herbert Goodman    -2.0   -1.2      NaN
546      Joe Hamilton    -2.0   -2.2      NaN
547    Winslow Oliver    -2.0   -2.0      NaN
548      David Palmer    -2.0   -1.2      NaN
549        Todd Yoder    -2.0   -0.9      NaN

[550 rows x 4 columns]

In [3]:
draft_df

,Year,Round,Pick,Team,Player,Position,College
0,1994,1,1,Cincinnati Bengals,Dan Wilkinson,DT,Ohio State
1,1994,1,2,Indianapolis Colts,Marshall Faulk,RB,San Diego State
2,1994,1,3,Washington Redskins,Heath Shuler,QB,Tennessee
3,1994,1,4,New England Patriots,Willie McGinest,LB,Southern California
4,1994,1,5,Indianapolis Colts,Trev Alberts,LB,Nebraska
...,...,...,...,...,...,...,...
1708,2000,7,250,Washington Redskins,Ethan Howell,WR,Oklahoma State
1709,2000,7,251,Buffalo Bills,DaShon Polk,LB,Arizona
1710,2000,7,252,Green Bay Packers,Rondell Mealey,RB,Louisiana State
1711,2000,7,253,Detroit Lions,Alfonso Boone,DT,Mount San Antonio JC (CA)
1712,2000,7,254,Chicago Bears,Michael Green,DB,Northwestern State

In [4]:
# Merge the two DataFrames on the 'Player' column
combined_df = pd.merge(df, draft_df, on='Player', how='outer')  # 'outer' keeps all rows from both DataFrames

# Save the combined data to a new CSV file titled 'combined_fp_data.csv'
combined_df.to_csv('combined_fp_data.csv', index=False)

# Debugging: Print the first few rows of the combined DataFrame
print(combined_df.head())

             Player  FantPt    PPR  OvrRank    Year  Round  Pick  \
0    Marshall Faulk   379.0  459.9      1.0  1994.0    1.0   2.0
1    Edgerrin James   332.0  395.3      2.0  1999.0    1.0   4.0
2       Jeff Garcia   341.0  340.5      3.0     NaN    NaN   NaN
3  Daunte Culpepper   338.0  338.5      4.0  1999.0    1.0  11.0
4      Eddie George   284.0  334.2      5.0  1996.0    1.0  14.0

                 Team Position          College
0  Indianapolis Colts       RB  San Diego State
1  Indianapolis Colts       RB            Miami
2                 NaN      NaN              NaN
3   Minnesota Vikings       QB  Central Florida
4      Houston Oilers       RB       Ohio State

In [5]:
combined_df

,Player,FantPt,PPR,OvrRank,Year,Round,Pick,Team,Position,College
0,Marshall Faulk,379.0,459.9,1.0,1994.0,1.0,2.0,Indianapolis Colts,RB,San Diego State
1,Edgerrin James,332.0,395.3,2.0,1999.0,1.0,4.0,Indianapolis Colts,RB,Miami
2,Jeff Garcia,341.0,340.5,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Daunte Culpepper,338.0,338.5,4.0,1999.0,1.0,11.0,Minnesota Vikings,QB,Central Florida
4,Eddie George,284.0,334.2,5.0,1996.0,1.0,14.0,Houston Oilers,RB,Ohio State
...,...,...,...,...,...,...,...,...,...,...
1947,Ethan Howell,NaN,NaN,NaN,2000.0,7.0,250.0,Washington Redskins,WR,Oklahoma State
1948,DaShon Polk,NaN,NaN,NaN,2000.0,7.0,251.0,Buffalo Bills,LB,Arizona
1949,Rondell Mealey,NaN,NaN,NaN,2000.0,7.0,252.0,Green Bay Packers,RB,Louisiana State
1950,Alfonso Boone,NaN,NaN,NaN,2000.0,7.0,253.0,Detroit Lions,DT,Mount San Antonio JC (CA)
1951,Michael Green,NaN,NaN,NaN,2000.0,7.0,254.0,Chicago Bears,DB,Northwestern State